.Header {
    position: sticky;
    top: 0;
    background-color: #a4a8d1;
    z-index: 1000; 
    width: 100%;
    border-bottom: 1px solid #ccc; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    text-align: center;
}

.navigation {
    list-style-type: none; 
    display: flex; 
    padding: 0; 
    margin: 10px;
    gap: 25%;
    offset: 10%;
}